@import "tailwindcss";

@theme {
    --color-primary-base: #a39079;
    --color-primary-light: #0000001a;
    --color-dark-base: #170A05;
}

* {
    outline: none;
    text-decoration: none;
}

html,
body {
    height: 100%;
    background-color: #E7E2DB;
}

button {
    cursor: pointer;
}

.container {
    margin: auto;
    padding: 0 16px;
}

.transition {
    transition: all 0.3s ease-in-out !important;
}